{% extends 'dashboardExtender.html' %} {% block sidebar %}
<div class="scrollbar-sidebar">
    <div class="app-sidebar__inner">
        <ul class="vertical-nav-menu">
            <li class="app-sidebar__heading">Admin Dashboard</li>
            <li>
                <a href="#" class="mm-active">
                    <i class="metismenu-icon fa fa-home"></i> Home
                </a>
            </li>
            <li>
                <a href="{{ url_for('view') }}">
                    <i class="metismenu-icon fa fa-user"></i> Pateint(Device User) List
                </a>
            </li>
            <li>
                <a href="{{url_for('viewdoctor')}}">
                    <i class="metismenu-icon fa fa-user-md">
                    </i>Doctor list
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="metismenu-icon fa fa-address-card"></i>Device Serial Number
                </a>

            </li>
        </ul>
    </div>
</div>
{% endblock %} {% block body %}
<div class="wrapper">
    <div class="content-wrapper">
        <div class="container">
            <section class="content">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <center>
                            <h3 class="box-title">Delete User</h3>
                        </center>
                    </div>

                    <form class="form-horizontal" method="POST" action="/deleteuser">
                        {% for row in data %}
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Username</label>

                                <div class="col-sm-10">
                                    <input name="Username" value="{{ row[1] }}" type="text" class="form-control" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Email</label>

                                <div class="col-sm-10">
                                    <input name="Email" value="{{ row[3] }}" type="text" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Full_Name</label>

                                <div class="col-sm-10">
                                    <input name="Full_Name" value="{{ row[5] }}" type="text" class="form-control" placeholder="Full_Name" autocomplete="off" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Address</label>
                                <div class="col-sm-10">
                                    <input name="Address" value="{{ row[6] }}" type="text" class="form-control" placeholder="Address" autocomplete="off" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Blood_Group</label>

                                <div class="col-sm-10">
                                    <input name="Blood_Group" value="{{ row[7] }}" type="text" class="form-control" placeholder="Blood_Group" autocomplete="off" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Age</label>

                                <div class="col-sm-10">
                                    <input name="Age" value="{{ row[8] }}" type="text" class="form-control" placeholder="Age" autocomplete="off" required>
                                </div>
                            </div>
                        </div>

                        <div class="box-footer">
                            <a href="/"><button type="button" class="btn btn-default">Cancel</button></a>
                            <input name="delete" type="submit" class="btn btn-info pull-right" value="Delete">
                        </div>
                        {% endfor %}
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %} {% block script%}
<script src="{{ url_for('static', filename='js/jquery-2.2.3.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/app.min.js')}}"></script>
{% endblock%}