{% extends 'dashboardExtender.html' %} {% block sidebar %}
<div class="scrollbar-sidebar">
    <div class="app-sidebar__inner">
        <ul class="vertical-nav-menu">
            <li class="app-sidebar__heading">Dashboard</li>
            <li>
                <a href="{{ url_for('doc_dash') }}" class="mm-active">
                    <i class="metismenu-icon fa fa-home"></i> Home
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="metismenu-icon fa fa-binoculars"></i> View Sensor Data
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="metismenu-icon fa fa-assistive-listening-systems">
                    </i>Send Recommendation
                </a>
            </li>
            <li>
                <a href="/docchattingh/{{ session['id'] }}">
                    <i class="metismenu-icon fa fa-commenting-o">
                    </i>Consultancy
                </a>
            </li>
            <li>
                <a href="{{ url_for('curappointment') }}">
                    <i class="metismenu-icon fa fa-calendar-check-o">
                    </i>Appointment
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %} {% block body %}
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-bed icon-gradient bg-amy-crisp"> </i>
                </div>
                <div>Dashboard
                    <div class="page-title-subheading">A brand new ML based cross-platform Health Care application.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
            <div class="row">
                <div class="col-lg-12">

                    <div class="main-card mb-3 card">
                            <div class="card mb-3 widget-content bg-midnight-bloom">
                                <div class="widget-content-wrapper text-white">
                                    <div class="widget-content-left">

                                        <div class="widget-heading">Hospital Setup</div>
                                        <div class="widget-subheading">Set the Hospital where you work at.</div>

                                    </div>
                                    <div class="widget-content-right">
                                        <div class="widget-numbers text-white"><span><a href="#" style="color:white;text-decoration: none;">Set</a></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %} {% block script%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    {% endblock%}