{% extends 'dashboardExtender.html' %} 

{% block sidebar %}
<div class="scrollbar-sidebar">
    <div class="app-sidebar__inner">
        <ul class="vertical-nav-menu">
            <li class="app-sidebar__heading">Dashboard</li>
            <li>
                <a href="{{ url_for('doc_dash') }}" class="mm-active">
                    <i class="metismenu-icon fa fa-home"></i> Home
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="metismenu-icon fa fa-binoculars"></i> View Sensor Data
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="metismenu-icon fa fa-assistive-listening-systems">
                    </i>Send Recommendation
                </a>
            </li>
            <li>
                <a href="/docchattingh/{{ session['id'] }}">
                    <i class="metismenu-icon fa fa-commenting-o">
                    </i>Consultancy
                </a>
            </li>
            <li>
                <a href="{{ url_for('curappointment') }}">
                    <i class="metismenu-icon fa fa-calendar-check-o">
                    </i>Appointment
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %} 

{% block body %}
<script>
    function ajax(){

    var req = new XMLHttpRequest();
    req.onreadystatechange = function(){
    if(req.readyState == 4 && req.status == 200)
    {
    document.getElementById('chats').innerHTML = req.responseText;
    }
    }
    req.open('POST', '/chats', true);
    req.send();
    }
    setInterval(function(){ajax()}, 10);
</script>
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-file-text icon-gradient bg-amy-crisp"> </i>
                </div>
                <div>Consultancy
                    <div class="page-title-subheading">Chat With Personal Users
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" onload="ajax();">
        <div class="col-lg-4" style="background-color: #f5f5f5;margin: 0px 10px;border-radius: 4px; padding: 10px 20px 20px 20px;">
            <div style="text-align: center;font-size: 18px;background-color: #ddd;border-radius: 4px;color: #5e5fa4;margin-bottom: 8px;">
                <span>Users Chart</span>
            </div>
            <ul class="list-group">
                {% for user in users %}
                        <li class="list-group-item"><a href="/docchatting/{{ user[0] }}"> {{user[4]}} </a>
                            {% if user[9] != 0 %}
                                <span style="height: 12px;width: 12px;background-color: #1fc124;border-radius: 6px;
                                float: right;margin-top: 5px;"></span>
                            {% else %}
                                <span style="height: 12px;width: 12px;background-color: #8a8a8a;border-radius: 6px;
                                float: right;margin-top: 5px;"></span>
                            {% endif %}
                        </li>
                    
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-6" style="background-color: #f5f5f5;margin: 0px 10px;border-radius: 4px; padding: 10px 20px 20px 20px;">

            {% if session['lid'] %}
                    <div style="text-align: center;">
                        <h1>Welcome to Chat Room</h1>
                        <p class="lead">Select users and start chat...</p>
                    </div>
            {% endif %}

        </div>
        <div class="col-xs-1"></div>
    </div>
</div>
{% endblock %}