{% extends 'dashboardExtender.html' %} 

{% block sidebar %}
<div class="scrollbar-sidebar">
    <div class="app-sidebar__inner">
        <ul class="vertical-nav-menu">
            <li class="app-sidebar__heading">Dashboard</li>
            <li>
                <a href="{{ url_for('doc_dash') }}" >
                    <i class="metismenu-icon fa fa-home"></i> Home
                </a>
            </li>
            <li>
                <a href="/docsensorh/{{ session['id'] }}" class="mm-active">
                    <i class="metismenu-icon fa fa-binoculars"></i> View Sensor Data
                </a>
            </li>

            <li>
                <a href="/docrecommendingh/{{ session['id'] }}">
                    <i class="metismenu-icon fa fa-assistive-listening-systems">
                    </i>Send Recommendation
                </a>
            </li>
            <li>
                <a href="/docchattingh/{{ session['id'] }}">
                    <i class="metismenu-icon fa fa-commenting-o">
                    </i>Consultancy
                </a>
            </li>
            <li>
                <a href="{{ url_for('curappointment') }}">
                    <i class="metismenu-icon fa fa-calendar-check-o">
                    </i>Appointment
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %} 

{% block body %}

<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-file-text icon-gradient bg-amy-crisp"> </i>
                </div>
                <div>Sensor Data
                    <div class="page-title-subheading">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" onload="ajax();">
        <div class="col-lg-2" style="background-color: #f5f5f5;margin: 0px 10px;border-radius: 4px; padding: 10px 20px 20px 20px;">
            <div style="text-align: center;font-size: 18px;background-color: #ddd;border-radius: 4px;color: #5e5fa4;margin-bottom: 8px;">
                <span>Users Chart</span>
            </div>
            <ul class="list-group">
                {% for user in users %}
                    
                    {% for mes in patient %}
                        {% if user[5]==mes %}
                            <li class="list-group-item"><a href="/docsensor/{{ user[0] }}"> {{user[5]}} </a>
                                
                            </li>
                            
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-9" style="background-color: #f5f5f5;margin: 0px 10px;border-radius: 4px; padding: 10px 20px 20px 20px;">

            {% if session['lid'] %}
                    <div style="text-align: center;font-size: 18px; color: #22aa45;background-color: #ddd;border-radius: 4px;">
                        <span>{{ session['name'] }}</span>
                    </div>
                    <div id="chat-box" style="overflow-y: scroll; height: 550px; padding: 10px 0px 0px 0px;">
                        <div id="chats">
                           
                                <div class="row">
                                    <div class="col-lg-4">
                                   <p>Temperature value</p> 
                                              
                                   <iframe width="100" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/{{channel}}/widgets/{{temp}}"></iframe>


        
                            </div>
                                    <div class="col-lg-4">
                                        <p>Humidity value</p>
                                <iframe width="100" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/{{channel}}/widgets/{{hum}}"></iframe>
                                    </div>
                                    <div class="col-lg-4">
                                <p>Pulse Rate</p>
                                <iframe width="100" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/{{channel}}/widgets/{{puls}}"></iframe>
                                    </div>
    
                               </center>
                               <br>
                               <br>
                               <br>
                               <br>
                               <hr>
                               &nbsp;
                              <center>
                                  <h3>Your Temperature and Humidity.</h3>
                                  <br>
                                  <br>
                                  <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/{{channel}}/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&title=Temperature&type=line"></iframe>
           
                                  <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/{{channel}}/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&title=Humidity&type=line"></iframe>
    
                                  <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/{{channel}}/charts/3?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&title=Pulse&type=line"></iframe>
    
                           
                            </center>
                            </div>
                           

                        </div>
                    </div>
                    
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}