{% for message in chats %}
        <div class="" style="text-align:left; padding:2px 5px;">
            <p>
                <span class="" style="background-color: #28a7ab;color: #fff;margin: 1px 0;padding: 6px 12px; border-radius: 12px;"> {{message[1]}}</span>
            </p>
        </div>
        <div class="" style="text-align:right; padding:2px 5px;">
            <p>
                <span class="" style="background-color: #dd92b2;color: #fff;margin: 1px 0;padding: 6px 12px; border-radius: 12px;"> {{message[4]}}</span>
            </p>
        </div>
{% endfor %}