{% extends 'dashboardExtender.html' %} {% block sidebar %}
<div class="scrollbar-sidebar">
    <div class="app-sidebar__inner">
        <ul class="vertical-nav-menu">
            <li class="app-sidebar__heading">Admin Dashboard</li>
            <li>
                <a href="#" class="mm-active">
                    <i class="metismenu-icon fa fa-home"></i> Home
                </a>
            </li>
            <li>
                <a href="{{ url_for('view') }}">
                    <i class="metismenu-icon fa fa-user"></i> Pateint(Device User) List
                </a>
            </li>
            <li>
                <a href="{{url_for('viewdoctor')}}">
                    <i class="metismenu-icon fa fa-user-md">
                    </i>Doctor list
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="metismenu-icon fa fa-address-card"></i>Device Serial Number
                </a>

            </li>
        </ul>
    </div>
</div>
{% endblock %} {% block body %}
<div class="wrapper">
    <div class="content-wrapper">
        <div class="container">
            <section class="content-header">
                {% for message in get_flashed_messages()%}
                <div class="alert alert-info alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> {{ message }}
                </div>
                {% endfor%}
            </section>

            <section class="content">
                <div class="box box-primary">
                    <div class="box-header">
                        <a href="/addoc">
                            <center>
                                <button type="button" class="btn btn-primary btn-flat">
                                   <span class="glyphicon glyphicon-plus"></span> Add Doctor
                                </button>
                            </center>
                        </a>
                    </div>

                    <div class="box-body">
                        <table id="dataphone" class="table table-bordered table-striped">
                            <thead align="center">
                                <tr>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Full_Name</th>
                                    <th>Registration_Number</th>
                                    <th>Contact_Number</th>
                                    <th>Specialization</th>
                                    <th>Address</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% if data|length == 0 %}
                                <tr>
                                    <td>No Data</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% else %}
                                <tr>
                                    {% for row in data %}
                                    <td>{{ row[1] }}</td>
                                    <td>{{ row[3] }}</td>
                                    <td>{{ row[4] }}</td>
                                    <td>{{ row[5] }}</td>
                                    <td>{{ row[6] }}</td>
                                    <td>{{ row[8] }}</td>
                                    <td>{{ row[9] }}</td>
                                    <td align="center">
                                        <a href="/updatedc/{{ row[0]}}">
                                            <button type="button" class="btn btn-sm btn-warning btn-flat" title="Update"><span class="glyphicon glyphicon-pencil"></span></button>
                                        </a>
                                        <a href="/deletedo/{{ row[0]}}">
                                            <button type="button" class="btn btn-sm btn-danger btn-flat" title="Delete"><span class="glyphicon glyphicon-remove"></span></button>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %} {% endif%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %} {% block script%}
<script src="{{ url_for('static', filename='js/jquery-2.2.3.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/app.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js')}}"></script>

<script>
    $(function() {
        $("#dataphone").DataTable();

    });
</script>
{% endblock%}